

body {
  background-image: url("backgroundSplash.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.titleLOGO {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}


.start {
  width: 40%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  z-index: 15px;
}
.leader {
  width: 40%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 15px;
}
.leaders {
  align-items: center;
  padding: 10px;
  margin: 15px
}

a {
  margin: 30px;
  padding: 10px;
  color: darkgray;
}
.leader:hover {
  width: 50%;
  height: 90%;
}
.start:hover {
  width: 50%;
  height: 90%;
}
